@import 'settings';


body {
    background-image: url("../images/backgrounds/background-2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    margin-top: var(--pxl2);
    margin-bottom: var(--pxl2);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

#header-wrapper {
    user-select: none;

    padding: var(--pxl2);

    font-size: 0.8rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    @media (min-width: 761px) {
        #open-menu-button {
            display: none;
        }
    }

    @media (max-width: 760px) {
        justify-content: start;
        background-color: var(--transparent-frame-color2);
        backdrop-filter: blur(var(--pxl-1));
        width: 80vw;

        border-radius: var(--pxl2);

        .header-button, .main-header {
            display: none;
        }
    }

    * {
        margin: 0 var(--pxl-1);
        padding: var(--pxl-1);
        transition: var(--transition);
    }

    .main-header {
        text-decoration: none;
    }  

    .header-button {
        border-radius: var(--pxl2);
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        font-size: 1.5rem;
    }

    .header-button, .main-header {
        @media (hover: hover) {
            &:hover {
                text-shadow: 0 0 var(--pxl2) var(--secondary-text-color);
            }
        }
    }

    #open-menu-button {
        outline: none;
        border: none;
        border-radius: var(--pxl2);
        background: transparent;

        h1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            * {
                margin: 0;
            }
        }

        @media (hover: hover) {
            &:hover {
                background: var(--light-transparent-frame-color2);
                backdrop-filter: blur(var(--pxl-1));
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

    .footer-layer {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        .footer-item, >a {
            margin: var(--pxl1);
        }

        a {
            transition: var(--transition);
            padding: var(--pxl-1);
            border-radius: var(--pxl-1);
        }

        @media (hover: hover) {
            a:hover {
                color: var(--light-main-text-color);
                background-color: var(--light-frame-color);
            }
        }
    }
}

.reload-bd-button {
    width: 50px;
    height: 50px;
    font-size: 40px;
    border-radius: 40px;

    outline: none;
    border: none;

    background-color: var(--frame-color);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    margin: var(--pxl2);

    div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    transition: var(--transition);
    * {
        transition: var(--transition);
    }

    &::after {
        content: 'Перезагрузить';
        position: absolute;
        z-index: 1;
        font-size: 20px;

        background-color: var(--frame-color);
        padding: var(--pxl-1);
        border-radius: var(--pxl1);
        transform: translateX(-60%) scale(90%);
        opacity: 0;
        transition: var(--transition);

        pointer-events: none;
        user-select: none;
    }

    @media (hover: hover) {
        &:hover {
            div {
                transform: rotate(180deg);
            }
            background-color: var(--light-other-text-color);

            &::after {
                transform: translateX(-80%) scale(100%);
                background-color: var(--light-other-text-color);
                opacity: 1;
            }
        }
    }
}

@import 'elements/authors';
@import 'elements/menu';
@import 'elements/socialMedia';
@import 'elements/infoWrapper';
@import 'elements/level';
@import 'elements/player';
@import 'elements/info';
@import 'elements/settings';
@import 'elements/news';