#levels-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.level {
    background-color: var(--transparent-frame-color2);
    backdrop-filter: blur(var(--blur));

    display: flex;
    position: relative;
    padding: var(--pxl2);
    margin-bottom: var(--pxl2);
    border-radius: var(--pxl2);
    position: relative;

    width: 80vw;
    max-width: 800px;

    transition: var(--transition);

    img {
        border-radius: var(--pxl1);
        cursor: pointer;
        user-select: none;
        height: 160px;
    }

    .level-text-wrapper {
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .level-main-text {
        color: var(--main-text-color);
    }

    .level-secondary-text {
        color: var(--other-text-color);
        font-weight: normal;
    }

    .level-name-secondary-text {
        color: var(--other-text-color);
        font-weight: normal;
    }
    
    @media (min-width: 960px) {
        @media (hover: hover) {
            &:hover {
                background-color: var(--transparent-frame-color);
                transform: scale(103%);
            }
        }
    
        .level-text-wrapper {
            margin-left: var(--pxl2);
        }
    
    }

    @media (max-width: 961px) {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--frame-color);

        .level-text-wrapper {
            margin-right: 0;
        } 

        img {
            width: 100%;
            height: auto;
        }

        .level-preview-wrapper {
            width: 100%;
        }

        .level-text-wrapper {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            right: 0;

            margin: var(--pxl2);
            padding: var(--pxl-1);
            
            background-color: var(--transparent-frame-color);
            backdrop-filter: blur(var(--blur));
        }
    }
}

.level-preview-wrapper {
    position: relative;
    overflow: hidden;

    border-radius: var(--pxl1);
    display: flex;

    cursor: pointer;
}

.level-preview-hover-effect {
    content: '';
    position: absolute;
    z-index: 1;
    background: linear-gradient(to top, 
                                var(--transparent-frame-color),
                                var(--transparent-frame-color2));
    backdrop-filter: blur(var(--blur2));

    width: 100%;
    height: 100%;

    opacity: 0;

    transition: var(--transition);

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        font-size: var(--pxl3);
        border: 2px solid white;
        border-radius: var(--pxl3);
        padding: var(--pxl-1);
        transition: var(--transition);
    }

    @media (hover: hover) {
        &:hover {
            opacity: 1;
        }
    }
}