#menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    background-color: var(--transparent-frame-color2);

    width: 100dvw;
    height: 100dvh;

    box-sizing: border-box;

    backdrop-filter: blur(var(--pxl-1));

    transition: var(--transition);

    padding: var(--pxl2);

    transform: translateX(-100vw);

    .menu-link-wrapper {
        margin-top: var(--pxl-1);
        
        a {
            text-decoration: underline;
            text-indent: 10px;
            text-underline-offset: 5px;
    
            @media (hover: hover) {
                * {
                    transition: var(--transition);  
                }
    
                &:hover * {
                    color: var(--other-text-color);
                }
            }
        }
    }
}

#close-menu-button {
    outline: none;
    border: none;

    user-select: none;

    background-color: var(--frame-color);
    * {
        color: var(--main-text-color);
    }

    padding: var(--pxl2);
    border-radius: var(--pxl2);

    transition: var(--transition);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: var(--pxl3);

    @media (hover: hover) {
        &:hover {
            background-color: var(--light-frame-color);
            * {
                color: var(--light-main-text-color);
            }
        }
    }
}

#temp-wrapper {
    display: flex;
}

.mini-menu {
    position: absolute;

    background-color: var(--transparent-frame-color2);
    padding: var(--pxl-1);
    border-radius: var(--pxl2);

    display: flex;
    flex-direction: column;

    backdrop-filter: blur(64px);
    
    transition: var(--transition);
    
    transform: translateY(calc(-1 * var(--pxl2))) translateX(calc(-1 * var(--pxl3))); // translateY(var(--pxl2))
    opacity: 0;
    pointer-events: none;
    
    @media (max-width: 760px) {
        display: none;
    }

    listMenuButton {
        margin: var(--pxl-1);
        user-select: none;
        padding: var(--pxl-1);
        border-radius: var(--pxl-1);

        transition: var(--transition);

        @media (hover: hover) {
            &:hover {
                background-color: var(--transparent-frame-color2);
            }
        }
    }

    listMenuBorder {
        height: 1rem;
        position: relative;

        margin: {
            left: var(--pxl-1);
            right: var(--pxl-1);
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 0;
            background-color: var(--transparent-frame-color);
            border-radius: 2px;
            height: 4px;
            width: 100%;

            top: 50%;
            transform: translateY(-50%);
        }
    }
}