.player {
    background-color: var(--transparent-frame-color2);
    backdrop-filter: blur(var(--blur));

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;

    padding: var(--pxl2);
    margin: var(--pxl2);

    border-radius: var(--pxl2);

    width: 80vw;
    max-width: 800px;

    transition: var(--transition);

    @media (hover: hover) {
        &:hover {
            background-color: var(--transparent-frame-color);
            transform: scale(103%);
        }
    }

    img {
        padding-right: var(--pxl1);
        user-select: none;
    }

    h3, h1 > span {
        color: var(--other-text-color);
    }
}