#black-background {
  -webkit-backdrop-filter: brightness(5%) blur(2px);
          backdrop-filter: brightness(5%) blur(2px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  transition: var(--transition3);
}

.about-wrapper {
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--pxl2);
  margin: var(--pxl2);
  position: relative;
}
@media (max-width: 600px) {
  .about-wrapper {
    width: 80vw;
  }
}

.about--quantum-dust-wrapper {
  position: relative;
  width: 200px;
  height: 100px;
}
@media (max-width: 600px) {
  .about--quantum-dust-wrapper {
    display: none;
  }
}

.about--text-wrapper p {
  font-size: 1rem;
}

.quantum-dust {
  --dust-color: green;
  --dust-size: 7px;
  --dust-effect-scale: 0.5;
  content: "";
  position: absolute;
  z-index: 1;
  top: calc(50% - var(--dust-size));
  left: calc(50% - var(--dust-size));
  background-color: var(--dust-color);
  padding: var(--dust-size);
  border-radius: var(--dust-size);
  box-shadow: 0 0 calc(3 * var(--dust-size)) var(--dust-color);
  mix-blend-mode: screen;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.about--quantum-dust-wrapper #quantum-dust-1 {
  animation-name: quantum-dust-1-animation;
  animation-duration: 3.338s;
}
.about--quantum-dust-wrapper #quantum-dust-2 {
  animation-name: quantum-dust-2-animation;
  animation-duration: 2.962s;
}
.about--quantum-dust-wrapper #quantum-dust-3 {
  animation-name: quantum-dust-3-animation;
  animation-duration: 3.675s;
}
.about--quantum-dust-wrapper #quantum-dust-4 {
  animation-name: quantum-dust-4-animation;
  animation-duration: 1.731s;
}
.about--quantum-dust-wrapper #quantum-dust-5 {
  animation-name: quantum-dust-5-animation;
  animation-duration: 3.069s;
}
.about--quantum-dust-wrapper #quantum-dust-6 {
  animation-name: quantum-dust-6-animation;
  animation-duration: 3.771s;
}
.about--quantum-dust-wrapper #quantum-dust-7 {
  animation-name: quantum-dust-7-animation;
  animation-duration: 1.972s;
}
.about--quantum-dust-wrapper #quantum-dust-8 {
  animation-name: quantum-dust-8-animation;
  animation-duration: 1.926s;
}
.about--quantum-dust-wrapper #quantum-dust-9 {
  animation-name: quantum-dust-9-animation;
  animation-duration: 3.601s;
}
.about--quantum-dust-wrapper #quantum-dust-10 {
  animation-name: quantum-dust-10-animation;
  animation-duration: 3.843s;
}

@keyframes quantum-dust-1-animation {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(calc(300% * var(--dust-effect-scale))) translateY(calc(-191% * var(--dust-effect-scale)));
  }
  66% {
    transform: translateX(calc(-300% * var(--dust-effect-scale))) translateY(calc(191% * var(--dust-effect-scale)));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes quantum-dust-2-animation {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(calc(-439% * var(--dust-effect-scale))) translateY(calc(187% * var(--dust-effect-scale)));
  }
  66% {
    transform: translateX(calc(439% * var(--dust-effect-scale))) translateY(calc(-187% * var(--dust-effect-scale)));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes quantum-dust-3-animation {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(calc(482% * var(--dust-effect-scale))) translateY(calc(-287% * var(--dust-effect-scale)));
  }
  66% {
    transform: translateX(calc(-482% * var(--dust-effect-scale))) translateY(calc(287% * var(--dust-effect-scale)));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes quantum-dust-4-animation {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(calc(-441% * var(--dust-effect-scale))) translateY(calc(340% * var(--dust-effect-scale)));
  }
  66% {
    transform: translateX(calc(441% * var(--dust-effect-scale))) translateY(calc(-340% * var(--dust-effect-scale)));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes quantum-dust-5-animation {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(calc(-175% * var(--dust-effect-scale))) translateY(calc(-159% * var(--dust-effect-scale)));
  }
  66% {
    transform: translateX(calc(175% * var(--dust-effect-scale))) translateY(calc(159% * var(--dust-effect-scale)));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes quantum-dust-6-animation {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(calc(116% * var(--dust-effect-scale))) translateY(calc(-33% * var(--dust-effect-scale)));
  }
  66% {
    transform: translateX(calc(-116% * var(--dust-effect-scale))) translateY(calc(33% * var(--dust-effect-scale)));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes quantum-dust-7-animation {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(calc(333% * var(--dust-effect-scale))) translateY(calc(483% * var(--dust-effect-scale)));
  }
  66% {
    transform: translateX(calc(-333% * var(--dust-effect-scale))) translateY(calc(-483% * var(--dust-effect-scale)));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes quantum-dust-8-animation {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(calc(-454% * var(--dust-effect-scale))) translateY(calc(32% * var(--dust-effect-scale)));
  }
  66% {
    transform: translateX(calc(454% * var(--dust-effect-scale))) translateY(calc(-32% * var(--dust-effect-scale)));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes quantum-dust-9-animation {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(calc(188% * var(--dust-effect-scale))) translateY(calc(63% * var(--dust-effect-scale)));
  }
  66% {
    transform: translateX(calc(-188% * var(--dust-effect-scale))) translateY(calc(-63% * var(--dust-effect-scale)));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes quantum-dust-10-animation {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(calc(-143% * var(--dust-effect-scale))) translateY(calc(138% * var(--dust-effect-scale)));
  }
  66% {
    transform: translateX(calc(143% * var(--dust-effect-scale))) translateY(calc(-138% * var(--dust-effect-scale)));
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
.bg-effect-particle {
  --color: red;
  --scale: 30px;
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  filter: blur(calc(var(--scale) * 2));
  background-color: var(--color);
  padding: var(--scale);
  border-radius: var(--scale);
  mix-blend-mode: screen;
}

#particle-1 {
  --color: #4d72ca;
  --scale: 60px;
  transform: translateX(-100%) translateY(50%);
}

#particle-2 {
  --color: #ab3ede;
  --scale: 40px;
  transform: translateX(30%) translateY(50%);
}

#particle-3 {
  --color: #90f189;
  --scale: 50px;
  transform: translateX(150%) translateY(50%);
}

.download-button {
  margin-top: var(--pxl2);
  padding: var(--pxl-1) var(--pxl2);
  outline: none;
  border: none;
  font-size: 1.5rem;
  background: var(--frame-color);
  border-radius: var(--pxl1);
  position: relative;
  transition: var(--transition4);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.download-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  filter: blur(8px);
  opacity: 0;
  transition: var(--transition);
  border-radius: var(--pxl1);
  background: linear-gradient(90deg, #ddb587, #8d78dd, #dd87c3, #dd8787, #8adc79);
}
@media (hover: hover) {
  .download-button:hover::before {
    opacity: 1;
  }
}
.download-button:active {
  background-color: transparent;
}
.download-button:active::before {
  opacity: 1;
}